* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.desaparecer {
    display: none;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
}

.main {
    padding-top: 120px;
}

.padding_footer {
    padding-bottom: 60px;
}

.tittle_container {
    display: flex;
    margin-left: 10px;
}

.tittle {
    margin-top: 0px;
    margin-left: 10px;
    transition: all 0.5s;
}

:root{
    --principal-color:rgb(31, 205, 184); 
    --color-hover: rgb(50, 242, 229);
}

.tittle:hover {
    color: var(--principal-color);
}

.subtittle {
    color:rgb(119, 119, 119);
}

.nav {
    gap: 3rem;
    margin-right: 20px;
}

.link_registro {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--principal-color);
    color: white;
    font-size: 18px;
    transition: all 0.5s;
}

.link_registro:hover {
    background-color: var(--color-hover);
    color: rgb(255, 255, 255);
}

.text_inicionSesion {
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: all 0.5s;
}

.busqueda_container {
    display:flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    max-width: 1100px;
}

.frame_container {
    display:flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    max-width: 1100px;
}

.text_imgFrame {
    margin-left: 20px;
}

.contenedor_img {
    margin: 0 auto;
    margin-top: 20px;
}

.contenedor_imgFrame {
    width: 40%;
    margin: 0 auto;
}

.imgFrame {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.contenedor_cardExtensed {
    margin: 0 auto;
    height: 100%;
}

.parrafo {
    text-align: justify;
    margin: 0 auto;
    padding-left: 10px;
    width: 600px;
    font-size: 20px;
    line-height: 25px;
}

.parrafo_cartas {
    text-align: justify;
    margin: 0 auto;
    margin-left: 50px;
}

.img {
    width: 100%;
}

.main__contenedor {
    margin-top: 40px;
}

.main_inicio_sesion {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 2rem;
}

.main_text {
    margin-top: 30px;
    justify-content: justify;
    text-align: justify;
    width: 100%;
}

.buscador{
    display: flex;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.258);  
    transition: all 0.5s;  
}

.buscador_input {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(31, 205, 185, 0);
}

.buscador:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.541);
}

.boton_buscar {
    width: 50px;
    height: 30px;
    margin-right: 20px;
    background-color: rgba(31, 205, 185, 0);
    border:rgba(31, 205, 185, 0) solid 4px;
}

.buscar_icon {
    font-size: 24px;
    transition: all 0.5s;
    color:var(--principal-color);
}

.buscar_icon:hover {
    color:var(--color-hover);
}

.contenedor_imagen {
    width: 90%;
}

.contenedor_imgCard {
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    height: 100%;
}

.img_container {
    width: 100%;
}

.card_extensed {
    position:fixed;
    left: 750px;
    top: 80px;
    width: 400px;
}

.formulario_container {
    width: 60%;
    margin: 0 auto;
}

.veterinarias_container{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

.text_veterinarias {
    color:rgb(128, 128, 128);
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.icons_veterinarias {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.card_container {
    margin: 0 auto;
    width: 800px;
}

.card {
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.258);  
}

.valoracion {
    margin-right: 20px;
    margin-top: 130px;
}

.parrafo_frame {
    height: 450px;
    width: 600px;
}

.icons_frame {
    color: #0973fd;
    margin-right: 20px;
}

.buttons_container {
    display:flex;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0px;
    gap: 30px;
    align-items:flex-start;
    border-bottom: 1px solid #8f8f8f;
    margin-bottom: 60px;
}

.buttons_frame {
    color:rgb(0, 0, 0);
    font-size: 24px;
    background:#00000000;
    border: 1px solid #00000000;
    padding-bottom: 10px;
    transition: all 0.5s;
}

.buttons_frame_active{
    border-bottom: 2px solid var(--principal-color);
    padding-bottom: 10px;
}

.buttons_frame:hover {
    color:var(--color-hover);
}

.labels_container {
    display:flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    max-width: 1100px;
    margin-top: 40px;
}

label {
    margin-bottom: 10px;
}

select{
    border: 1px solid #00000000;
    border-bottom: 3px solid #8f8f8f;
    color:rgb(13, 94, 156);
}

.button_reserva {
    font-size: 22px;
    width: 60%;
    border: 1px solid #00000000;
}

.button_verVeterinaria {
    align-items: center;
    font-size: 22px;
    width: 60%;
    border: 1px solid #00000000;
}

.button_verVeterinariaContainer {
    margin-top: 50px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.buttom_reservaContainer {
    margin-top: 50px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.text_horario_frame {
    color:rgb(23, 150, 37);
}

.tittle_Formulary {
    margin-bottom: 50px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
}

.tittle_formulary {
    font-size: 24px;
    line-height: 1.2em;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 auto;
}

.subTittle_formulary {
    font-size: 19px;
    line-height: 1.2em;
    padding-top: 1rem;
    line-height: 1.2em;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

.subTittle_formulary:hover {
    color: var(--principal-color);
}

.formulario_input {
    height: 40px;
    font-size: 18px;
    border: none;
    background: #ff75ba00;
    border-bottom: rgb(143, 143, 143) solid 1px;
    outline: none;
    transition: all 0.5s;
}

.formulario_input:focus {
    border-bottom: 2px solid var(--principal-color);
}

.formulario_btn {
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: var(--principal-color);
    color: white;
    font-size: 18px;
    transition: all 0.5s;
}

.formulario_btn:hover {
    background-color: var(--color-hover);
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
}

.formulario_text {
    display: flex;
    gap: 1rem;
}

.linkRegistro_container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.linkToRegistro {
    color:var(--principal-color);
    text-decoration: none;
    transition: all 0.5s;
}

.linkToRegistro:hover {
    color: var(--color-hover);
}


.footer {
    width: 100%;
    min-height: 40px;
    bottom: 0;
    position:fixed;
}

.footer_letra {
    color: #b9b9b9;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 10px;
}

ol, ul {
    padding-left: 0rem;
}

/* calificaciones */
.calificaciones{
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
}

.calificaciones_puntuacion{
    font-size: 20px;
}
.calificaciones_comentarios{
    width: 100%;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.calificaciones_usuario{
    font-size: 15px;
}

.calificaciones_usuario_comentario{
    font-size: 15px;
}

.calificaciones_usuario_puntuacion{
    text-align: center;;
}

/* inicio de media querie para tableta */
@media screen and (max-width: 1024px) {
    .main_inicio_sesion {
        flex-direction: column;
    }

    .contenedor_imagen{
        display: none;
    }

    .veterinarias_container{
        display: none;
    }
    .busqueda_container{
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .tittle_bienvenida {
        text-align: center;
    }

    .nav{
        margin: 0 auto;
        gap: 2rem;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card_container {
        margin: 0 auto;
        margin-left: 30px;
        max-width: 600px;
    }

    .frame_container {
        flex-direction: column;
        max-width: 1100px;
    }

    .contenedor_imgFrame .frame_container {
        flex-direction: row;
    }

    .contenedor_imgFrame {
        width: 70%;
    }

    .padding_footerFrame {
        padding-bottom: 100px;
    }

    .buttons_container {
        margin-top: 40px;
    }

}

/* inicio de media querie para celulares */
@media (max-width: 767px) {

    .parrafo {
        text-align: justify;
        margin: 0 auto;
        width: 80%;
        font-size: 20px;
        line-height: 25px;
    }
    
    .contenedor_img {
        margin-top: 10px;
        align-items: center;
        text-align: center;
    }

    .img{
        width: 90%;
    }

    .busqueda_container{
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    .buscador{
        width: 80%;
    }

    .nav{
        margin: 0 auto;
        gap: 2rem;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .labels_container {
        width: 70%;
        flex-direction: column;
    }

    .frame_text {
        font-size: 18px;
    }

    .buttons_frame {
        font-size: 18px;
    }

    select{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .button_reserva {
        font-size: 22px;
        width: 80%;
    }

    .formulario{
        width: 100%;
    }
    .formulario_container{
        width: 75%;
    }

    .card_container {
        margin: 0 auto;
        margin-left: 8px;
        max-width: 250px;
    }

    .valoracion {
        margin-right: 20px;
        margin-top: 40px;
    }

    .contenedor_imgFrame {
        width: 80%;
    }

    .padding_footerFrame {
        padding-bottom: 250px;
    }
}