<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="icon" sizes="192x192" href="../img/icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FirulApp - Clinicas</title>
    <!-- boostrap - CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <!-- Hoja de estilos propia-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <nav th:replace="components/navbar :: nav_bar"></nav>
</header>
<main class="main padding_footer" >
    <section >
        <div  class="parrafo_cartas">
            <div id="titulo_busqueda">
                <h1  class="h1" >
                    Veterinarias en la ciudad de
                    <span th:text="${resultado}"></span>



                </h1>

            </div>

            <div  th:each="vet : ${veterinarias} "  id="card_container" class="card_container">

                <div class="card mb-3" style="max-width: 650px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="contenedor_imgCard">
                                <img th:src="${vet.fotos}" class="card-img-top" alt="${vet.nombre}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 th:text="${vet.nombre}" class="card-title"></h5>
                                <p>
                                    <span th:text="${vet.especialidad}"  class="badge text-bg-info"></span>
                                </p>
                                <p th:text="${vet.servicios}">


                                </p>
                                <div class="text-end valoracion">
                                    <small class="text-muted"><a  th:href="@{detalle(idVet=${vet.idVeterinaria})}" class="btn btn-primary">Ver detalles</a></small>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>

</main>
<footer class="footer">
    <h5 class="footer_letra">©2022 by FirulApp</h5>
</footer>

</body>
</html>