<div class="card mb-3" style="max-width: 650px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="contenedor_imgCard">
        <img src="${element.img}" class="card-img-top" alt="${element.nombre}">
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">${element.nombre}</h5>
        <div class="text-end valoracion">
          <h1 class="calificaciones_puntuacion"><span>⭐</span>****</h1>
        </div>
      </div>
    </div>
  </div>
</div>
}